@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
  background: #f6f6f6;
  font-family: 'lato', sans-serif;
}

header{
    background-color: #111;
    color: white;
    font-size: 24px;
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
main{
 background-color: #fff;   

   .title {
    
   }
  }
  section {
    background-color: blue; 
  }
  aside {
    background-color: green;
  }
}