header{
    background-color:darkcyan;
    text-align: center;
}
main{
    background-color:darkcyan;
    text-align: center;

}
footer{
    background-color:darkcyan
}
header img{
   width: 380px;
}
h1{
     text-align: center;
}
h3{
     text-align: center;
}

main img{
   width: 340px;
}
